.playlist-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  &_artwork {
    width: 35px;
    height: 35px;
    border-radius: 2px;
  }
  &_data-wrapper {
    margin-left: 15px;
    
  }
  &_name {

  }
  &_artist {
    font-weight: 500;
    font-size: .9rem;
  }
}