$space-xs: 8px;
$space-l: 20px;

.processing-panel {
  position: fixed;
  bottom: $space-l;
  width: 100%;
  &_content {
    display: flex;
    align-items: center;
    padding: $space-l;
    width: fit-content;
    background: #fff;
    margin: auto;
    box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05), 0 5px 30px 0 rgba(166, 173, 201, 0.22);
    border-radius: $space-xs;
    border: 1px solid rgba(108, 117, 125, 0.2);
    &_label {
      font-size: 12px;
      color: var(--gray);
    }
    &_quantity {
    }
  }
  &_margin-button {
    margin-left: 20px;
  }
}
