$space-xs: 8px;
$space-l: 20px;

.processing-panel {
  position: sticky;
  // display: inline;
  bottom: $space-l;
  margin: 0 $space-l;
  width: 500px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.02), 0 1.7px 5.3px rgba(0, 0, 0, 0.028),
    0 3.3px 10px rgba(0, 0, 0, 0.035), 0 5.8px 17.9px rgba(0, 0, 0, 0.042),
    0 10.9px 33.4px rgba(0, 0, 0, 0.05), 0 26px 80px rgba(0, 0, 0, 0.07);
  border-radius: $space-xs;
  &_content {
    display: flex;
    align-items: center;
    padding: $space-l;
  }
  &_margin-button {
    margin-left: 20px;
  }
}
